 .page-top-font {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    }

nav a {
   font-family: 'Amatic SC', cursive;
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   font-size: 35px;
   }

/*----------- Main header -------------*/
h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 200px;
    color: white;
    text-align: center;
    padding: 160px 10px 130px 0px;
    margin-bottom: 0em;
}
/*----------- Container -------------*/
#container {
    background: url(https://cdn.theatlantic.com/assets/media/img/photo/2014/03/st-petersburg-from-above/s01_00SPB008/main_900.jpg?1420504465) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    margin-bottom: 50px;
    padding: 0px 0px 30px 0px;
}

.container-fluid {
    position: fixed;
    left: 0;
    top: 0; 
    width: 100%;
    background-color:#222222;
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
}

/*---------Back Button-----------*/
#back {
    width: 35%;
    font-family:'Open Sans', sans-serif;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-style: italic;
    margin-left: 20px;
}

#back:hover {
    opacity: 0.6;
}
/*----------- Content -------------*/
 .parent {
  display: flex;
     width: 100%;
  justify-content: center;
}
.content {
  flex: 1;
  background: white;
  opacity: 0.9;
  color:black;
  padding: 20px 30px 40px 30px;
  margin: 50px 0px 20px 0px;
 text-align: center;
}
.picture1 {
  width: 33%;
  background:
    url(http://www.visit-petersburg.ru/media/uploads/album/151/978_detail_page.jpg) no-repeat;
    background-size: cover;
  color:black;
  padding: 120px 200px 120px 200px;
  margin: 50px 0px 20px 0px;
}
.picture2 {
  width: 33%;
  background:
    url(https://d13yacurqjgara.cloudfront.net/users/724070/screenshots/2434544/freedom-anticafe_1x.png) no-repeat;
    background-size: cover;
  color:black;
  padding: 120px 200px 120px 200px;
  margin: 50px 0px 20px 0px;
}
.picture3 {
  width: 33%;
  background:
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjprGO6Z9S9mKQJa2NsKksOkskbgeSmcEt-kda9DNvqmWagqjj) no-repeat;
    background-size: cover;
  color:black;
  padding: 120px 200px 120px 200px;
  margin: 50px 0px 20px 0px;
}
h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    color: grey;
    text-align: center; 
}
p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    color: grey;
    text-align: center;
    padding: 50px 10px 50px 10px;
    margin-top:0em;
}

#about {
	color: white;
	font-size: 33px
}



