.navbar-brand page-scroll {
    font-family: 'Amatic SC', cursive;
    }
.img-responsive center-block {
   background-size: cover;
   width:800px
   height:400;
    }
 .carousel-caption {
    font-family: 'Amatic SC', cursive;
    font-size:30px;
    }

 nav a {
   font-family: 'Amatic SC', cursive;
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   font-size:36px;
    }