.page-top-font {
    font-family: 'Amatic SC', cursive;
    font-size:40px;
    }
 .carousel-caption {
    font-family: 'Amatic SC', cursive;
    font-size:40px;
    }
h3 { font-family: 'Amatic SC', cursive;
font-size:40px;
	}
h1 { font-family: 'Amatic SC', cursive;
font-size:50px;
text-align:center;
	}
h2 { font-family: 'Amatic SC', cursive;
font-size:35px;
text-align:center;
	}
nav a {
   font-family: 'Amatic SC', cursive;
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   font-size:35px;
    }
  p {font-family: 'Open Sans Condensed', sans-serif;
  font-size:22px;
  }
  .container-fluid {
  	width:auto;
  	}
  .destinations p {
  	text-align:center;
  	}
  .navbar {
  	margin-right: 10px;
  	margin-left: 10px;
  	}
  .navbar-right {
  	padding:0px 10px 0px 5px;
  	}
  .btn-primary{background-color:black;
  	border:none;
  	}
  	 .item img {
    width: 100%;
    height: 200px;
  }
  img.carousel-inner {
  width:640px;
  height:200px;
}
.cities
{
	width:100%;
  background-size:cover;
}